.container {
  display:flex;
  flex-direction:row;
  justify-content: space-between ;
}

.card{
  display:flex;
  flex-direction:column;
  width:220px;
  cursor:pointer;
  border-radius:5px;
  overflow: hidden;
}

.card .img {
  width:100%;
}

.card .title {
  font-size:16px;
  font-weight:700;
}

.card:hover{
  background-color:rgba(0,0,0,0.1);

}

.card .content{
  padding-top:16px;
  padding-bottom:16px;
  padding-left:12px;
  padding-right:12px;
  display:flex;
  flex-direction: column;
  font-size:14px;
}

.content .additional{
  font-size:14px;
  color:rgb(134,154,184);
}

.menuContainer{
  height:50px;
  display:flex;
  flex-direction: row;
}

.menuItem{
  width:135px;
  display:inline;
  text-align:center;
  line-height:50px;
  height:50px;
}

.menuItemActive{
  width:135px;
  display:inline;
  text-align:center;
  line-height:50px;
  height:50px;
  background-color: rgb(237,240,245);
  color:#7a5de8;
  font-weight:700;
}

.flottingBtn{
  position:fixed;
  bottom:60px;
  border-radius: 50px;
  width:50px;
  height:50px;
  display:flex;
  
  justify-content: center;
  align-items: center;
  cursor:pointer;
  background-color: purple;
  transition:0.2s all linear;

}

.flottingBtn:hover{
  background-color:gold;
  transform: translate(0,-5px)
}

.column {
  width: 100%;
  height:100;
  background-color:blue;
}

@media (min-width: 600px) {
  .column {
    width: 50%;
  }
}